$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #3399CC !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #FF4B2F !default;
$orange: #FF9966 !default;
$yellow: #ffc107 !default;
$green: #00DD59 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$btn-col: $blue;
$btn-col-hover: darken($btn-col, 8%);

$link-col: $gray-400;
$link-col-hover: $gray-100;

$grey-dark: lighten($black, 30%);
$grey-med: lighten($black, 49%);
$grey-light: lighten($black, 94%);

$navbar-grey: $gray-800;
$navbar-grey-transparent: transparentize($navbar-grey, 0.1);
$navbar-grey-link: transparentize($white, 0.3);
$navbar-grey-link-hover: transparentize($white, 0.125);
$navbar-grey-link-button: transparentize($white, 0.2);

$font-family-sans-serif: "Raleway", -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !default;

