@import "../../bootstrap/scss/functions";
@import "../../bootstrap/scss/variables";

$grey-dark: lighten($black, 30%);
$grey-med: lighten($black, 49%);
$grey-light: lighten($black, 94%);

$navbar-grey: $gray-800;
$navbar-grey-transparent: transparentize($navbar-grey, 0.1);
$navbar-grey-link: transparentize($white, 0.3);
$navbar-grey-link-hover: transparentize($white, 0.125);
$navbar-grey-link-button: transparentize($white, 0.2);

$font-stack: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$thumb-time-dist: 10px;
$list-thumb-time-dist: 3px;
$list-transition: .25s cubic-bezier(0.645, 0.045, 0.355, 1);
