section {
  padding: 96px 0;
  position: relative;
  overflow: hidden; }
  section.bg-secondary {
    background-color: #ced4da; }

body {
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
